/* $Id$ */

/**
 * @file
 *  SMS Panel UI Datepicker style for legacy jQuery UI date picker.
 */

#ui-datepicker-div, 
.ui-datepicker-inline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 0;
	margin: 0;
	background: #eee;
	width: 185px;	
}
#ui-datepicker-div {
	display: none;
	border: 1px solid #bbb;
	z-index: 100;
	-moz-box-shadow: 1px 2px 5px #aaa;
	-webkit-box-shadow: 1px 2px 5px #aaa;
}
#ui-datepicker-div,
.ui-datepicker-links,
.ui-datepicker-control{
  -moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}
.ui-datepicker-inline {
	float: left;
	display: block;
	border: 0;
}
.ui-datepicker-rtl {
	direction: rtl;
}
.ui-datepicker-dialog {
	padding: 5px !important;
	border: 4px ridge #ddd !important;
}
.ui-datepicker-disabled {
	position: absolute;
	z-index: 100;
	background-color: white;
	opacity: 0.5;
}
button.ui-datepicker-trigger {
	width: 25px;
}
img.ui-datepicker-trigger {
	margin: 2px;
	vertical-align: middle;
}
.ui-datepicker-prompt {
	float: left;
	padding: 2px;
	background: #ddd;
	color: #000;
}
* html .ui-datepicker-prompt {
	width: 185px;
}
.ui-datepicker-control, 
.ui-datepicker-links, 
.ui-datepicker-header, 
.ui-datepicker {
	clear: both;
	float: left;
	width: 100%;
	color: #222;
	font-size: 12px;
}
.ui-datepicker td a{
	font-size: 12px !important;
}
.ui-datepicker-control {
	background: #ddd;
	padding: 2px 0px;
	border-bottom: 1px solid #eee;
}
.ui-datepicker-links {
	padding: 2px 0px;
}
.ui-datepicker-control, .ui-datepicker-links {
	font-size: 80%;
	text-shadow: 0 1px #fff;
}
.ui-datepicker-links label {
	padding: 2px 5px;
	color: #888;
}
.ui-datepicker-clear, 
.ui-datepicker-prev {
	float: left;
	width: 34%;
}
.ui-datepicker-prev a,
.ui-datepicker-next a {
	font-size: 13px !important;
}
.ui-datepicker-rtl .ui-datepicker-clear, 
.ui-datepicker-rtl .ui-datepicker-prev {
	float: right;
	text-align: right;
}
.ui-datepicker-current {
	float: left;
	width: 30%;
	text-align: center;
}
.ui-datepicker-close, 
.ui-datepicker-next {
	float: right;
	width: 34%;
	text-align: right;
}
.ui-datepicker-rtl .ui-datepicker-close, 
.ui-datepicker-rtl .ui-datepicker-next {
	float: left;
	text-align: left;
}
.ui-datepicker-header {
	padding: 1px 3px 3px;
	background: #ddd;
	font-weight: bold;
	height: 1.3em;
	border-top: 1px solid #eee;
}
.ui-datepicker-header select {
	border: 0px;
	font-family: Arial, sans;
	text-shadow: 0 1px #fff;
}
.ui-datepicker {
	background: #ccc;
	text-align: center;
	font-size: 100%;
}
.ui-datepicker a {
	display: block;
	width: 100%;
}
.ui-datepicker-title-row {
	background: #777;
}
.ui-datepicker-days-row {
	background: #eee;
	color: #666;
}
.ui-datepicker-week-col {
	background: #777;
	color: #fff;
}
.ui-datepicker-days-cell {
	color: #000;
	border: 1px solid #ddd;
}
.ui-datepicker-days-cell a{
	display: block;
}
.ui-datepicker-week-end-cell {
	background: #ddd;
}
.ui-datepicker-title-row .ui-datepicker-week-end-cell {
	background: #777;
}
.ui-datepicker-days-cell-over {
	background: -moz-linear-gradient(center top , #999, #bbb) !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#bbb)) !important;
	border: 1px solid #fff !important;
}
.ui-datepicker-days-cell-over a {
  text-shadow: 0 1px #fff;
}
.ui-datepicker-unselectable {
	color: #888;
}
.ui-datepicker-today {
	background: -moz-linear-gradient(center top , #444, #666) !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#666)) !important;
}
.ui-datepicker-today a{
	color: #fff !important;
	text-shadow: 0 1px #222;
}
.ui-datepicker-current-day {
	background: #999 !important;
}
.ui-datepicker-status {
	background: #ddd;
	width: 100%;
	font-size: 80%;
	text-align: center;
}

/* Background CSS3 gradients */
.ui-datepicker-links {
	background: -moz-linear-gradient(center top , #fefefe, #ddd);
	background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#ddd));
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-radius-bottom-left: 0;
	-webkit-border-radius-bottom-right: 0;
}
.ui-datepicker-control {
  background: -moz-linear-gradient(center top , #eee, #d4d4d4);
	background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#d4d4d4));
}

/* Datepicker Links */
#ui-datepicker-div a, 
.ui-datepicker-inline a {
	cursor: pointer;
	margin: 0;
	padding: 0;
	background: none;
	color: #000;
}
.ui-datepicker-inline .ui-datepicker-links a {
	padding: 0 5px !important;
}
.ui-datepicker-control a, 
.ui-datepicker-links a {
	padding: 2px 5px !important;
	color: #222 !important;
	text-shadow: 0 1px #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.ui-datepicker-title-row a {
	color: #eee !important;
	text-shadow: 0 1px #333;
}
.ui-datepicker-control a:hover {
	color: #555 !important;
}
.ui-datepicker-links a:hover, 
.ui-datepicker-title-row a:hover {
	color: #fff !important;
}

/* Multiple Monthes */
.ui-datepicker-multi .ui-datepicker {
	border: 1px solid #777;
}
.ui-datepicker-one-month {
	float: left;
	width: 185px;
}
.ui-datepicker-new-row {
	clear: left;
}

/* IE6 iframe fix */
.ui-datepicker-cover {
  display: none;
  display/**/: block;
  position: absolute;
  z-index: -1;
  filter: mask();
  top: -4px;
  left: -4px;
  width: 200px;
  height: 200px;
}
